html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.dogs-container {
  display: flex;
  gap: 20px;
  padding-block: 20px;
}
.dogs-container img {
  width: 100px;
  height: 100px;
}
.memes-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-block: 20px;
}
.memes-container img {
  width: 70px;
  height: 70px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  text-align: left;
  padding: 8px; /* Adjust padding as needed */
}
